#main{
    margin: 20px 10px 0 20px;
}
#search-area input[type="text"]{
    width: 165px;
    height: 26px;
    outline: none;
    border-width: 1px;
    border-style: solid;
    border-left-color: #c5c5c5;
    border-top-color: #c5c5c5;
    border-right-color: #e0e0e0;
    border-bottom-color: #e0e0e0;
    box-shadow: 0px 2px 2px 0px #f2f2f2 inset;
    padding-left: 10px;
}
#search-area input[type="submit"]{
    width: 120px;
    height: 36px;
    border: none;
    outline: none;
    background-color: #33A1DE;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
}
#data-table{
    margin-top: 30px;
}
#data{
    border: 1px solid #CFCFCF;
}
#data thead tr{
    height: 40px;
    background: linear-gradient(#FBFBFB,#F1F1F1,#E5E5E5);;
}
#data thead tr th:not(:last-child){
    border-right: 1px solid #CFCFCF;
}
#data tbody tr{
    height: 38px;
}
#data tbody tr td:not(:last-child){
    border-right: 1px dashed #CFCFCF;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    padding: 10px 6px;
}
#data tbody tr td:last-child{
    text-align: center;
}
#data tbody tr td:last-child i{
    cursor: pointer;
    margin-left: 12px;
}
#data tbody tr td:last-child i:hover{
    color: #ff0000;
}

#pagination{
    margin-top: 20px;
    font-size: 0;
}
#pagination a{
    display: inline-block;
    height: 32px;
    line-height: 32px;
    padding: 2px 20px;
    color: #33A1DE;
    border: 1px solid #33A1DE;
}
#pagination a:not(:first-child){
    border-left: none;
}
#pagination .prev{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#pagination .next{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#pagination .current{
    color: #fff;
    background-color: #33A1DE;
    cursor: default;
}

.iziModal-header-title{
    color: #fff!important;
}




